body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
button {
    cursor: pointer;
}
address {font-style: normal;}
img {
    display: block;
    max-width: 100%;
}
.container {
    /* width: 1158px; */
    max-width: 320px;
    /* padding: 0 15px; */
    padding: 0 16px;
    margin: 0 auto;
}
/* ---------------HEADER------------------------ */
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    text-decoration: none;
    /* margin-right: 76px; */
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.header-nav {
    display: flex;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;

}
.header-logo-web {
    color: #2e2f42;
    padding: 24px 0;
}
.ul-nav {
    list-style: none;

}
.ul-nav {
    /* display: flex; */
    display: none;
    /* gap: 40px; */
}
.nav-list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
text-decoration: none;
padding: 24px 0;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list:hover {
    color: #404bbf;
}
.nav-list:focus {color: #404bbf;
}
.underscore {
    position: relative;
    color: #404bbf;
}
.underscore::after{
position: absolute;
display: block;
bottom: -1px;
right: 0;
content: "";
border-radius: 2px;
width: 48px;
height: 4px;
background-color: #404bbf;
left: 0;
}
.header{box-shadow: 0px 2px 1px 
    rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 1px 6px rgba(46, 47, 66, 0.08);}
     .nav-address{
        transition: color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);  
     }

/* ---------------------------ADDRESS---------------------- */
.address {font-style: normal;}
.ul-address {
    list-style: none;
}
.ul-address {
    /* display: flex; */
    display: none;
    gap: 40px;
    /* padding-top: 24px;
    padding-bottom: 24px; */
}
.nav-address {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
font-style: normal;
}
.nav-address:hover {color: #404bbf;}
.nav-address:focus {color: #404bbf;}
.nav-address{
    transition: color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
.open-menu-btn{
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}
/* -----------MOB--Menu__________))) */
.mob-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.mobmenu{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.open-mob-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.mob-icon-close{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 100%;
}


.mob-nav{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
 margin-left: 16px;
 margin-top: 72px;
 list-style: none;
 margin-bottom:168px;
}
.mob-list{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.mob-underscore{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #404bbf;
}


.mob-address{
margin-left: 16px;
list-style: none;
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 24px;
margin-bottom: 48px;
}
.mob-tel-address{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5;
    text-decoration: none;
}
.mob-post-address{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
text-decoration: none;
}
.mob-soc-icon{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    fill: #f4f4fd;
    margin-left: 16px;
    margin-right: 24px;
}
.mob-icon-item{
    width: 40px;
    height: 40px;

}
.mob-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}

/* ------------------------------SECTION ONE------------- */
.section-one {
    background-color: #2e2f42;
    padding-top: 188px;
padding-bottom: 188px;
background-image:linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
     url(../images/people-office1.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 max-width: 1440px;
 margin-left: auto;
 margin-right: auto;
 box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
 0px 1px 1px rgba(46, 47, 66, 0.17),
 0px 2px 1px rgba(46, 47, 66, 0.08);
 max-width: 1440px;
}
.top-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 216px;
margin: 0 auto;
margin-bottom: 48px;
}
.order-buttom {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
cursor: pointer;
padding: 16px 32px 16px 32px;
max-width: 496px;
margin: 0 auto;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-buttom:hover {background-color: #404BBF;}
.order-buttom:focus {background-color:#404BBF;}
/* ---------------------------SECTION 2---------------------------- */

.section-two {
    /* padding: 120px 0; */
    padding-top: 96px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 72px;
    width: 288px;
    /* height: 696px; */
    margin-bottom: 120px;

}
/* .ul-accomplishments{
    display: flex;
    gap: 24px;
    
} */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.accomplishments-list {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
cursor: pointer;

}
/* .accomplishments-list {
    margin-bottom: 8px;
    margin-top: 8px;
} */
/* .accomplishments-item{
    width: calc((100% - 3 * 24px) / 4);
} */
.accomplishments-item{
    width: 288px;

}
.ul-accomplishments {
    list-style: none;
    
}
.accomplishments-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 8px;
/* margin: 0; */
}
.accomplishments-icon{
    border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
width: 264px;
height: 112px;
display: none;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}
/* -------------------------------SECTION 3------------------- */
.team {background-color: #F4F4FD;
    padding: 96px 0;

}
.team-info {
    background-color: #FFFFFF;
    width: 100%;
    /* width: calc((100% - 72px) / 4);  */
}
.container-team {
    padding: 32px 0;
}
.team-paragraph {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;

}
.team-info { 
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-name {
    padding: 32px 0;
    text-align: center;
    
} 
.team-list {
    list-style: none;
    /* display: flex;
    gap: 24px; */
   
}

}
.team-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
text-align: center;
}
.team-job {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
text-align: center;
margin-bottom: 8px;
}
.team-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
    fill: #f4f4fd;
}
.team-icon-item{
    width: 40px;
    height: 40px;

}
.team-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover{
    background-color:#404bbf;
}
.team-link:focus{background-color:#404bbf;}
/* -------------------------------SECRION 4--------------- */
.portfolio-list {
    /* width: calc((100% - 48px) / 3); */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 16px 16px;
    /* margin-bottom: 48px; */
}
.portfolio-list:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
    
    }
.portfolio-list{   
    transition: background-color 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}
.container-list {
    padding: 16px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
width: 360px;
height: 120px;
position: relative;

}
.portfolio-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}
.portfolio-name {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.portfolio-work {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.portfolio-foto-human {
    list-style: none;
    display: flex;
    flex-wrap: wrap;   
    gap: 48px 24px;
}
.footer {
    background-color: #2e2f42;
}
.portfolio-list:hover .overflow-text{
transform: translateY(0);
}
.overflow-text{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width:100%;
    height:100%;
    transform:translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overflow-container{
    position: relative;
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
}
/* ------------------------------FOOTER------------------------- */
.footer {
    padding: 96px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
align-items: center;
justify-content: center;

}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    background-color: #2e2f42;
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo-web {
    color: #f4f4fd;
}
.footer-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #2e2f42;
max-width: 264px;
text-align: start;
}
.footer-item{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
margin-top: 72px;
max-width: 280px;
}
.footer-container{
    /* display: flex;
    align-items: baseline; */
 text-align: center;
}
.footer-link:hover {
    background-color:#31d0aa;
}
.footer-link:focus{background-color:#31d0aa;
}
.footer-icon{
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
    fill: #f4f4fd;
}
    .footer-link{
        width: 40px;
        height: 40px;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-link{
        transition: background-color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-icon-item{
        width: 40px;
        height: 40px;
    }
    .footer-logo-paragraph{
        /* margin-right: 120px; */
        width: 288px;
    
    }

    /* -----------BACKDROP--------------------------- */
    
    .backdrop{
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        position: fixed;
        top: 0;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
         0 2px 1px 0 rgba(0, 0, 0, 0.2);
         opacity: 0;
         pointer-events: none;
         visibility: hidden;
         transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
         visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    /* .backdrop.is-open{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    } */
    .modal{
        width: 288px;
        min-height: 623px;
        background-color: #fcfcfc;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 72px 24px 24px 24px;
        transition: transform 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    .modal-buttom{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding: 0;
        width: 24px;
        height: 24px;
        top: 24px;
        right: 24px;
        background-color: #E7E9FC;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
    }

.icon-close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-buttom:hover, .modal-buttom:focus {
    fill: #ffffff;
    background-color: #404BBF;
        border: none;
}

    .modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    }
    .modal-field{
        margin-bottom: 8px;

    }
    .modal-input{
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        min-width: 100%;
        height: 40px;
        padding-top: 8px;
        padding-left: 38px;
        transition: border-color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);
        outline: transparent;
        fill: #4D5AE5;
    }

    .modal-input:focus{
        border-color: #4D5AE5;
    }
    .modal-input:focus + svg {
        fill: #4D5AE5;
        }

    .modal-info{
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-top: 8px;
        margin-bottom: 4px;
    }

    .modal-icons{
        position: absolute;
        left: 16px;
        top: 50%;
        fill: #2e2f42;
        transform: translateY(-50%);
        transition: fill 250ms 
        cubic-bezier(0.4, 0, 0.2, 1);
    }
    .modal-icons:focus{
        fill: #4D5AE5;
    }
    .modal-input-wrap{
        position: relative;
    }
    .textarea-field{
        margin-bottom: 16px;
    }
    .textarea-input-text {
        width: 100%;
        display: block;
        resize: none;
        height: 120px;
        padding: 8px 16px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .textarea-input-text:focus{
        border-color: #4D5AE5;
    }
    .checkbox {
        margin-bottom: 24px;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    .privacy-text {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    }
    .agree-svg {
        width: 16px;
        height: 16px;
        border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        background-color: transparent;
        margin-right: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms 
        cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .privacy-agree-text {
        text-decoration: underline;
        color: #4d5ae5;
    }
    .privacy-checkbox:checked + .privacy-text .agree-svg {
        fill: #f4f4fd;
        border: none;
        background-color: #404BBF;
    }

    .btn-text {
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
    }
    .btn {
        display: block;
        margin-top: 48px;
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        padding: 16px 32px;
        min-width: 169px;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    /* --------------FOOTER INPUT--------------- */

    .form{
        /* display: flex; */
        gap: 24px;
        
    }
    .footer-input{
        font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    }
   
    .footer-send-email{
        margin-left: 80px;
    }
    .subscribe-button{
        /* display: flex; */
        margin-top: 16px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 4px;
        min-width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        outline: transparent;
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        /* margin-left: 24px; */
    }
.email{
    font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #FFFFFF;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
background-color: transparent;
padding-left: 16px;
}
.footer-input{
margin-bottom: 16px;
}
.footer-send{
    gap: 24px;
    max-width: 453px;
    height: 80px;
    /* margin-left: 80px; */
    margin-top: 72px;
}
.button-send-svg{
    margin-left: 16px;

}
/* -----768-----768-----768-------768------768 */
@media screen and (min-width:768px){
    .container{
        max-width: 768px;
        padding: 0 16px;
    
    }
    .ul-nav{
        display: flex;
        gap: 40px;
    }
    .ul-address{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
    margin-left: 120px;
    }
    .header-logo{
        margin-right: 76px;
    }
    .open-menu-btn{
        display: none;
    }
    .top-title{
        font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    }
    .order-buttom{
        max-width: 496px;
        min-width: 169px;
    }
    /* ----------SECTION 2 TAB -----------*/
    .ul-accomplishments{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        width: 736px;
        height: 312px;
    }
    .accomplishments-item{
        width: calc((100% - 24px) / 2);
       
    }
    .accomplishments-list {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    cursor: pointer;
    }
    .accomplishments-paragraph{
        font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
width: 356px;
height: 120px;
    }
/* -----------SECTION 3 TEAM----------- */
.team{
    padding-top: 96px;
    padding-bottom: 96px;
}
.team-info {
    width: calc((100% - 24px) / 2); 
}
.team-list{
display: flex;
align-items: center;
gap: 64px 24px;
flex-wrap: wrap;
}


/* ---------------SECTION 4 PORTFOLIO----- */
.portfolio-list {
    width: calc((100% - 24px) / 2); 
}
/* ----------FOOTER------------ */
.form {
    display: flex;
    text-align: start;
        flex-wrap: wrap;
}
.footer-container{
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
padding-right: 24px;
}
.footer-send{
   margin-top: 72px;
}
.footer-icon-list{
}
.footer-item{
    margin-top: 0;
}
.subscribe-button{
    display: flex;
margin-top: 0;
}
.modal{
        width: 408px;
        min-height: 584px;
}
}

/* 1158----1158-----1158-----1158-----1158---1158 */

@media screen and (min-width:1158px){
.container{
    max-width: 1158px;
    padding: 0 15px;
}
.ul-nav{
    display: flex;
    gap: 40px;
}
.ul-address{
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-logo{
    margin-right: 76px;
}
.open-menu-btn{
    display: none;
}
.top-title{
    font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
max-width: 496px;
}
/* ---------SECTION 2 ------------*/
.accomplishments-icon{
    border: 1px solid #8e8f99;
border-radius: 4px;
width: 264px;
height: 112px;
background: #f4f4fd;
width: 264px;
height: 112px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}
.ul-accomplishments{
    display: flex;
    gap: 24px;
align-items: center;
justify-content: center;
}
/* .section-two{
    padding: 60px 0;
} */
.accomplishments-item{
    width: calc((100% - 3 * 24px) / 4);
}

.accomplishments-list {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
cursor: pointer;
padding-left: 0;
margin: 0;
margin-bottom: 8px;
margin-top: 8px;
}
.accomplishments-paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 8px;
padding-left: 0;
margin: 0;
}
/* -------------------SECTION TEAM---------------- */

.team-info {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4); 
}
.team-list{
    display: flex;
    gap: 24px;
}

/* -------------------SECTION PORTFOLIO---------------- */
.portfolio-list{
    width: calc((100% - 48px) / 3);
}
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.container-list {
    padding: 32px 16px;}

    /* ------------FOOTER---------------- */

    .footer-container{
        display: flex;
        align-items: baseline;
        text-align: start;
        /* padding-left: 120px; */
    }
    .form {
        display: flex;
        text-align: start;
       gap: 0;
    }
    .footer-send{
        margin-left: 80px;
    }
    .footer-logo-paragraph{
        margin-right: 120px;
    }
    .subscribe-button{
        display: flex;
    margin-top: 0;
    }
    .modal{
        width: 408px;
        min-height: 584px;
    }
}